[submodule "UMPK-80/vendor/imgui/imgui"]
	path = UMPK-80/vendor/imgui/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "UMPK-80/vendor/GLFW"]
	path = UMPK-80/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "UMPK-80/vendor/imgui/imgui_club"]
	path = UMPK-80/vendor/imgui/imgui_club
	url = https://github.com/kom-a/imgui_club.git
	branch = kr580
[submodule "UMPK-80/vendor/imgui/ImGuiColorTextEdit"]
	path = UMPK-80/vendor/imgui/ImGuiColorTextEdit
	url = https://github.com/kom-a/ImGuiColorTextEdit.git
[submodule "UMPK-80/vendor/imgui/ImGui-Addons"]
	path = UMPK-80/vendor/imgui/ImGui-Addons
	url = https://github.com/gallickgunner/ImGui-Addons.git
[submodule "UMPK-80/vendor/spdlog"]
	path = UMPK-80/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
