[submodule "GLFW"]
	path = GLFW
	url = https://github.com/glfw/glfw
[submodule "UMPK-80/vendor/imgui/imgui"]
	path = UMPK-80/vendor/imgui/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
